
  <div class="row">
    <div class="card hoverable blue lighten-5">
        <div class="card-action">

      <ul class="collection with-header">
        <li class="collection-header"><h4>Airport</h4></li>

		  <% @flights.each do |flight|%>
		    	<a href="<%=user_flight_path(current_user.id, flight.id)%>" class="collection-item">
					<%=flight.airport%>
				</a>
				<a href="<%=user_flight_path(current_user.id, flight.id)%>"><button class="btn waves-effect waves-light red" type="submit">View<i class="material-icons right">send</i></button>
				</a>
         		<a href="<%=flight_path(flight.id)%>" class="secondary-content" data-method="delete" ><button class="btn waves-effect waves-light red disabled" type="submit" >Delete<i class="material-icons right">delete</i>
         		</button>
         		</a>

		  <% end %>
      </ul>
		</div>
	</div>
</div>
   	<%=link_to "Add New", new_flight_path%>


   	




<!-- TRYING NEW LAYOUT -->
