<p><%= flash[:notice] %></p>

<h1><%= current_user.name %></h1>


 <div class="collection", class="highlight">

    <a href="#!" class="collection-item">Airport<span class="badge">CheckInPoint</span></a>
	<% @flights.each do |flight|%>
    <a href="<%=user_flight_path(current_user.id, flight.id)%>" class="collection-item">
		<li>
			<%=flight.airport%> 
			<span class="new badge">
				<%=flight.gate%>
			</span>
		</li>
   	</a>
   	<% end %>
 </div>

   	<%=link_to "Add Flight", new_flight_path%>

