


  <div class="chip">
  	<%= current_user.name %>
    	<i class="close material-icons">close</i>
  </div>
<!-- <h3> Hi <%= current_user.name %> </h3> -->

<p><strong>Wait time at <%= @flight.airport%> check-in : 
	
	<%if @wait_time === 0 %> No Data Available 
	<%else%>
		<%= @wait_time.round %> 
		<p><strong>Total journey time: <span id="wait_time"><%= @wait_time.round %></span> mins </strong></p>
	<%end%>	


</strong></p>






<!-- REFERANCE SCRIPT -->

<p><%=@airport_position%></p>


<script>
	var data = {
		airport_position: {
			latitude: <%= @airport_position[:airport_latitude]%>,
			longitude: <%= @airport_position[:airport_longitude]%>
		},
		tsa_wait_time : <%= @wait_time %>
	};
	console.log("Airpot pos = ", data)
</script>

