
 
 <div class="row">
    <div class="col s12">
      <div class="card-panel card medium">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true  %>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
                      <%= f.label :password %><br />
                      <%= f.password_field :password, autocomplete: "off" %>
          </div>
                    <% if devise_mapping.rememberable? -%>
                      <div class="input-field col s12">
         
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                    <% end -%>
          <div class="input-field col s12">
          <div class="center">
            <%= f.submit "Log in" , class: 'waves-effect waves-light btn noFocus waves-input-wrapper' %>
          </div>
          </div>
          <div class="card-action">
            <%= render "devise/shared/links" %>
          </div>
      <% end %>
         </div>  
         </div>
         </div>
</div>

